{% macro recipe(hdf) %}
### Base information for recipe ###############################################

DESCRIPTION = "FPGA build for {{ hdf.projname }}"
LICENSE = "CLOSED"

# Machine set in FWK project config
COMPATIBLE_MACHINE = "{{ machine }}"

# Package is specific to the board
PACKAGE_ARCH = "${MACHINE_ARCH}"

# Version/revision determined from FWK build
PV = "{{ hdf.version }}"
PR = "r{{ hdf.commits }}"

# FWK project directory
FILESEXTRAPATHS:prepend := "{{ fwk_topdir }}:"
{% endmacro %}

{% macro aux_binfile(hdf) %}
### BIN file from FWK build ###################################################

SRC_URI = "file://{{ hdf.path }}"

# Binfiles directory on the target
BINFILES_BASE = "/lib/firmware/aux"

do_install() {
    install -Dm 0644 ${WORKDIR}/{{ hdf.path }} ${D}${BINFILES_BASE}/{{ hdf.projname }}.bin
}

FILES:${PN} = "${BINFILES_BASE}/{{ hdf.projname }}.bin"
{% endmacro %}

{% macro mapfiles(hdf) %}
### Mapfiles from FWK build ###################################################

SRC_URI:append = " \
{%- for mapfile in hdf.mapfiles %}
    file://{{mapfile}} \
{%- endfor %}
"

# Mapfiles directory on the target
MAPFILES_BASE = "${datadir}/deviceaccess/map/{{ hdf.projname }}"

# Install mapfiles to separate package
PACKAGES:append = " ${PN}-mapfiles"

do_install:append() {
{%- for mapfile in hdf.mapfiles %}
    install -Dm 0644 ${WORKDIR}/{{mapfile}} ${D}${MAPFILES_BASE}/{{ hdf.basename(mapfile) }}
{%- endfor %}
}

FILES:${PN}-mapfiles = " \
{%- for mapfile in hdf.mapfiles %}
    ${MAPFILES_BASE}/{{ hdf.basename(mapfile) }} \
{%- endfor %}
"

# Make sure the mapfiles are installed alongside the main package
RDEPENDS:${PN}:append = " ${PN}-mapfiles"
{% endmacro %}

{% macro headers(hdf) %}
### Headers from FWK build ####################################################

SRC_URI:append = " \
{%- for hdrfile in hdf.headerfiles %}
    file://{{hdrfile}} \
{%- endfor %}
"

# Headerfiles directory on the target
HDRFILES_BASE = "${includedir}/{{ hdf.projname }}"

# Install headerfiles to dev package
do_install:append() {
{%- for hdrfile in hdf.headerfiles %}
    install -Dm 0644 ${WORKDIR}/{{hdrfile}} ${D}${HDRFILES_BASE}/{{ hdf.basename(hdrfile) }}
{%- endfor %}
}

FILES:${PN}-dev:append = " \
{%- for hdrfile in hdf.headerfiles %}
    ${HDRFILES_BASE}/{{ hdf.basename(hdrfile) }} \
{%- endfor %}
"

# To provide the headers to the application, make it DEPENDS += " {{hdf.recipename}}"
{% endmacro %}

{% macro xsafile(hdf) %}
### XSA file from FWK build ###################################################

SRC_URI:append = " file://{{ hdf.path }}"

# Xilinx bbclass to populate /lib/firmware/xilinx with .bit.bin and .dtbo from hdf
inherit dfx_dtg_zynqmp_full
{% endmacro %}

{% macro psconfig(hdf) %}
### Extract PS configuration from XSA file ####################################

FILESEXTRAPATHS:prepend := "{{ fwk_topdir }}:"

HDF_BASE = "file://"
HDF_PATH = "{{ hdf.path }}"
{% endmacro %}

